table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
  }
th, td {
    padding: 15px;
    font-size: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

body {
    background-image: url(../lab5/images/space.jpg)
 }
 
 #title {
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }